/* p{
    /* text-align: center; */
    /* display: flex;
    margin: auto;
    font-size: 90px;
    font-family: 'Inter';
     */
    
body{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h1{
    font-size: 70px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
}

a{
    font-size: 15px;
    color: black;
    margin: 50px;
    padding: 14;
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transform: translateX(-100%);
}

p {
    margin: 0;
    font-size: 15px;
    margin-right: 40px;
    float: right;
    display: inline;

    font-weight: bolder;

}



